
@model EquipmentInputModel
@{
    ViewData["Title"] = "Creating equipment";
    ViewBag.Action = "Create";
}

<h2 class="text-center mb-2 text-white">@ViewData["Title"]</h2>
<hr />
<div class="container">
   <partial name="Partials/_EquipmentFormPartial" model="@Model" view-data="ViewData" />
</div>