@model ExerciseInputModel
@{
    ViewData["Title"] = "Editing exercise";
    ViewBag.Action = "Edit";
}

<h2 class="text-center mb-2 text-white">@ViewData["Title"]</h2>
<hr />
<div class="container">
    <partial name="Partials/_ExerciseFormPartial" model="@Model" view-data="ViewData" />
</div>