@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <h1>START YOUR FITNESS JOURNEY</h1>
    <p class="p">Find different equipment and exercises which can help improving your health 
        as well as increasing your sports achievements and goals in life!</p>
        <div>
            <button type="button" class="button" onclick="explore()"><span class="span"></span>START EXPLORING</button>
        </div>
</div> 

<script>
    function explore() {
        window.location.href = "/Equipment";
    }
</script>